.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 5px solid #333;
}

.name {
	font-size: 8em;
	color: #333;
	font-weight: bolder;
}

.tagline {
	font-size: 3em;
	font-weight: 100;
	color: #555;
}

.socials {
	display: flex;
	flex-direction: row;
}

.socials i {
	margin: 50px;
	font-size: 40px;
	color: #777;
	cursor: pointer;
}

.socials i:hover {
	color: #555;
}