<div class="card-container">
	<div class="card">
		<img src="./resources/placeholder.png" alt="">
		<div class="card-details">
			<h3>Firstname Lastname</h3>
			<div class="card-contact"> 
				<div class="phone">(123) 456-7890</div>
				<div class="email">email@test.com</div>
			</div>
			<div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum eligendi inventore accusamus, tempora possimus, incidunt consectetur laudantium neque, optio magnam nobis fugit maxime! Maiores laudantium facere molestias nihil quia amet architecto modi. Ducimus voluptates, aspernatur dolorem omnis ipsa natus?</div>
			<div class="card-links">
				<i class="fab fa-twitter"></i>
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-instagram"></i>
			</div>
		</div>
	</div>
</div>
