<div class="card-container">
	<img id="portrait" src="../resources/placeholder.png" alt="">
	<div class="card">
		<div class="header">
			<div class="name">FirstName LastName</div>
			<div class="subtitle">Finance Management</div>
		</div>
		<div class="contact">
			<div class="phone">(123) 456-7890</div>
			<div class="email">email@google.com</div>
		</div>
		<div class="socials">
			<div class="btn">Twitter</div>
			<div class="btn">Facebook</div>
			<div class="btn">Instagram</div>
		</div>
	</div>
</div>