<div class="card-container">
	<div class="card">
		<div class="top">
			<img src="../resources/placeholder.png" alt="">
			<div class="contact">
				<div class="direct">
					<div class="phone"><i class="fas fa-phone"></i> (123) 456-7890</div>
					<div class="ema"><i class="fas fa-at"></i> email@google.com</div>
				</div>

				<div class="socials">
					<i class="fab fa-twitter"></i>
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-instagram"></i>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="name">FirstName LastName</div>
			<div class="title">Global Marketing</div>
		</div>
	</div>
</div>